@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.aside{

    background: v.$bg-secondary;
    color: v.$text-color;

    &__titulo {
        @include m.titulo-seccion;
    }

    &__texto {
        line-height: 1.5;
    }

    &__img {
        margin-top: 1rem;
    }
}