@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.btn {

    @include m.boton;

    transition: transform .3s;

    &:hover {

        transform: scale(1.05);
    }

    &--ss{

        @include m.planet-button(rgb(255, 152, 0), rgb(255, 87, 34));


    }

    &--exo{

        @include m.planet-button(rgb(123, 31, 162), rgb(40, 53, 147));

    }

    &--footer{

        @include m.planet-button(rgb(26, 3, 36), rgb(2, 4, 14));
        color: v.$text-color

    }
}