@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

body{

    background: v.$bg-main;
    font-family: Consolas, sans-serif;
    color: v.$text-color;

    &::before {

        content: "";
        position: fixed;

        width: 100%;
        height: 100%;

        background-image:
            radial-gradient(
                rgb(60, 0, 93) 1px,
                transparent 3px
            );

        background-size: 50px 50px;

        opacity: .2;
        z-index: -1;
    }
}